# Logistic Regression
Logistic regression is used for binary classification where we use a sigmoid function, that takes input as independent variables and produces a probability between 0 and 1.

## Sigmoid Function

## Log Odds

In [2]:
# Importing all libraries which we would use
import seaborn as sns
from matplotlib import pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
def if_setosa(string):
    if string == "setosa":
        return 1
    return 0


df["species_setosa"] = df["species"].apply(if_setosa)

In [5]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1